#bar {
    height: 100px;
    width: 80%;
    display: block;
}

#barcontainer {
    display: flex;
    justify-content: center;
}

.heading {
    width: 90%;
    margin: auto;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
}